.footer {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  margin-top: 1rem;
}

.page {
  border: 1px solid rgba(166, 166, 166, 0.3);
  height: 24px;
  width: 24px;
  color: #057cd2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.page:hover {
  background: whitesmoke;
}

.pageOne {
  border: 1px solid rgba(166, 166, 166, 0.3);
  height: 24px;
  width: 24px;
  background: #057cd2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.pageOne:hover {
  background: #034b7f;
}
