.searchBox {
  background-color: #ebebeb;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin: 0 235px 1rem 4rem;
}

.searchButton {
  background-color: #057cd2;
  border: none;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0 0 1rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}

.mainContainer {
  padding: 1rem 1rem 1rem 2rem;
}

.documentCard {
  max-width: 880px;
  min-height: 120px;
}

.detailsDocumentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0 0 0 1rem;
}

.previewImage {
  max-height: 100%;
}

.controlStyles {
  min-width: 500px;
  padding: 0 0 0 0.5rem;
}
