.cardContainer {
  min-height: 7rem;
  border: 1px solid #605e5c7a;
  background-color: white;
  margin: 0 0 1rem 0;
  border-radius: 4px;
}

.headerDocument {
  background-color: #faf9f8;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  max-height: 2rem;
  min-width: 4rem;
  border-bottom: 1px solid #605e5c7a;
  align-items: center;
  padding: 0 0.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tipoDocumental {
  font-weight: normal;
  cursor: default;
}

ol {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size: 12px;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.titleDocument {
  cursor: pointer;
}

.titleDocument:hover {
  color: #057cd2;
  text-decoration: underline;
}

.detailsDocument {
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
  min-height: 72px;
}

strong {
  font-weight: 600;
  color: #393939;
}

.child {
  margin: 0 0.5rem 0 0;
}

.searchBox {
  min-width: 680px;
}

.searchContainer {
  margin: -14px 0 1rem 0;
  display: flex;
  gap: 8px;
  border-radius: 4px;
}

.liHorizontal {
  display: flex;
  gap: 1rem;
}

.treeItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.listScroll {
  background-color: white;
  padding: 0.8rem 0.4rem 0.8rem 0.8rem;
  border-radius: 4px;
  min-height: 510px;
}

.inputSearch {
  text-overflow: ellipsis;
  width: 570px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

.iconClass {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 13px;
}

.iconClass:hover {
  background-color: #9a9a9a69;
}

.iconClass:active {
  color: #057cd2;
}

.inputContainer {
  display: flex;
  position: relative;
}
