@import "~@fluentui/react/dist/sass/References.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.root {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container_search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_content {
  display: grid;
  grid-template-columns: 18rem 1fr;
}

.section {
  display: flex;
  justify-content: end;
}
