.header {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #057cd2;
  padding: 8px;
  margin-bottom: 1rem;
  font-smooth: inherit;
}

.image {
  width: 52px;
  height: 52px;
  border-radius: 4px;
}
