@import "~@fluentui/react/dist/sass/References.scss";

.container_search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_content {
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.section {
  display: flex;
  justify-content: end;
}
